*{
    margin: 0%;
    padding: 0%;
}
.container{
    max-width: 400px;
    min-height: 70vh;
    margin: 0 auto ;
    background-color: rgb(31, 29, 29);
    margin-top:3em ;
    border-radius: 10px;
}

.input-control{
    width: 80%;
    padding:.3em 10%;
    border: none;
    font-size: 3rem;
    outline: none;
    color: white;
    background-color: rgb(31, 29, 29);
    
}

.content{
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1em;
    margin: 1em;
    max-width: 400px;
}
.btn{
    max-width: 30px;
    max-height: 30px;
    border-radius: 50%;
    padding: 1em;
    font-size: 2rem;
    background-color: orangered;
    color: white;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn:hover{
    cursor: pointer;
    background-color: red;
}
.btn-clean{
    border-radius: 10px;
    width: 100%;
    margin-left:.2em ;
}
